{% extends 'base.html' %}
{% block title %}{{page}}{% endblock %}
{% block content %}
<section>
    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Login</h2>
            <hr>
            {% if messages %}
            {{ message.tags }}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp"
                    placeholder="Enter email" required>
                
            </div>
            <div class="mb-3">
                <label for="user_password">Password</label>
                <input type="password" class="form-control" id="user_password" name="user_password" placeholder="Password" required>
            </div>
            <p> Don't have account <a href="/accounts/">Register</a></p>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</section>

{% endblock %}